
*::after,
*::before {
  box-sizing: border-box;
}


.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.header{
  width: 100%;
  height: 60px;
  background-color: teal;
  padding: 20px;
  
}

.header_link{
  color: #fff;


}

.home_button{
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 50px;
  margin-left: 10px;
  cursor: pointer;

}

.home_button:hover{
  background-color: #245c46;
}

.error {
  margin: 200px 0;
  display: flex;
  justify-content: center;
}

.signIn-form{
  margin-top: 50px;
  width: 700px;
}